@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: aliceblue;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: 'Barlow', sans-serif;
    
}
